/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

@font-face {
  font-family: 'Literal bold';
  src: url("../fonts/literal-bold.otf") format("opentype"); }

@font-face {
  font-family: 'Literal light';
  src: url("../fonts/literal-light.otf") format("opentype"); }

@font-face {
  font-family: 'Literal regular';
  src: url("../fonts/literal-regular.otf") format("opentype"); }

body {
  font-family: 'Literal light', sans-serif;
  box-sizing: border-box;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #20FFA6;
  color: #1C293E; }
  .btn--green::after {
    background-color: #20FFA6; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1C293E;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #1C293E;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.container {
  margin: 0 8rem auto;
  background-color: white;
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.nav {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  background-color: #1C293E;
  border-bottom: 1px solid #ddd; }
  @media screen and (max-width: 700px) {
    .nav {
      flex-direction: column;
      text-align: center; } }
  .nav__container {
    padding: .5rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; }
    @media screen and (max-width: 700px) {
      .nav__container {
        flex-direction: column;
        text-align: center; } }
  .nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem; }
  .nav__logo {
    height: 2.5rem;
    margin-left: 1rem; }
    @media screen and (max-width: 1040px) {
      .nav__logo {
        margin-left: 1rem; } }
  @media screen and (max-width: 700px) {
    .nav__menu-btn {
      padding: 1rem;
      cursor: pointer; } }
  @media screen and (min-width: 701px) {
    .nav__menu-btn {
      display: none; } }
  .nav__menu-btn__icon {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    fill: #fff; }
  .nav__list {
    display: flex;
    max-width: 700px;
    list-style-type: none;
    padding-right: 1rem; }
    .nav__list-item {
      display: flex; }
    @media screen and (max-width: 700px) {
      .nav__list {
        display: block;
        flex-direction: column;
        overflow: auto;
        direction: rtl;
        transition: all 600ms;
        max-height: 80vh; } }
  @media screen and (max-width: 700px) {
    .nav__list--hide {
      max-height: 0; } }
  .nav__link {
    flex: 1;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    transition: 200ms; }
    @media screen and (min-width: 701px) {
      .nav__link {
        flex-basis: auto;
        padding: 1rem 1.5rem; } }
    @media screen and (max-width: 700px) {
      .nav__link {
        padding: 1rem 0;
        font-size: 1.8rem; } }
    .nav__link:hover {
      background-color: #20FFA6;
      color: #1C293E; }

.footer {
  background-color: #1C293E;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  padding: 3rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  color: #fff; }
  @media (max-width: 37.5em) {
    .footer {
      flex-direction: column; } }
  .footer__logo {
    height: 3rem; }
  .footer__social {
    fill: #fff;
    height: 2.5rem;
    width: 2.5rem; }
  .footer__info__text {
    text-align: center;
    margin: 1rem; }
  .footer__info__icons {
    fill: #fff;
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
    margin-right: 5px; }
  .footer__container {
    margin-top: 1rem; }
    @media (max-width: 37.5em) {
      .footer__container--logo {
        display: block;
        margin: auto; }
      .footer__container--social {
        order: 2; }
      .footer__container--info {
        order: 3; } }
  .footer__contanct__link {
    color: #fff;
    text-decoration: none; }
  .footer__icons {
    text-align: center; }
  .footer__copy {
    margin-top: 1rem;
    text-align: center; }

.banner {
  background-color: #f7f7f7;
  min-height: 50vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 4rem 0rem; }
  @media screen and (max-width: 1040px) {
    .banner {
      flex-direction: column; } }
  .banner__image {
    height: 100%;
    width: 600px; }
    @media screen and (max-width: 1040px) {
      .banner__image {
        width: 100%;
        height: 20%; } }
  .banner__text__container {
    position: relative;
    width: 100%; }
  .banner__text-box {
    font-family: 'Literal bold';
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media screen and (max-width: 1040px) {
      .banner__text-box {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        padding: 1.5rem; } }
  .banner__slogan {
    color: #1C293E;
    backface-visibility: hidden;
    margin-bottom: 1rem;
    font-size: 4rem; }
  .banner__elevator_speach {
    margin-top: 30px;
    margin-bottom: 1.8rem;
    display: block;
    font-size: 1.8rem;
    text-align: center;
    animation: moveInRight 1s ease-out; }

.whyus {
  padding: 10rem 0rem; }
  @media (max-width: 56.25em) {
    .whyus {
      padding: 5rem 0rem; } }
  .whyus__content {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 37.5em) {
      .whyus__content {
        flex-direction: column;
        flex-wrap: nowrap; } }
    @media (max-width: 56.25em) {
      .whyus__content {
        flex-wrap: wrap; } }
  .whyus__separator {
    margin: 30px 6%;
    border-top: 1px solid;
    border-top-color: #D4D4D4; }
  .whyus__features {
    display: table;
    margin: 0px auto 0px auto;
    padding-top: 3rem; }
    .whyus__features li {
      position: relative;
      list-style-type: none;
      padding-left: 2.5rem;
      margin-bottom: 0.5rem; }
    .whyus__features li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 5px;
      height: 11px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #20FFA6;
      transform-origin: bottom left;
      transform: rotate(45deg);
      margin-top: 5px; }
  .whyus__box {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem; }
    @media (max-width: 37.5em) {
      .whyus__box {
        width: 100%; } }
    .whyus__box__header {
      text-align: center; }
    .whyus__box__image {
      height: 10rem;
      fill: #1C293E; }
    .whyus__box__body {
      text-align: justify;
      padding: 1rem; }

.howworks {
  padding: 10rem 0rem;
  background-color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .howworks {
      padding: 5rem 0rem; } }
  .howworks__content {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 37.5em) {
      .howworks__content {
        flex-direction: column;
        flex-wrap: nowrap; } }
    @media (max-width: 75em) {
      .howworks__content {
        flex-wrap: wrap; } }
  .howworks__box {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center; }
    @media (max-width: 75em) {
      .howworks__box {
        flex: 0 50%; } }
    @media (max-width: 37.5em) {
      .howworks__box {
        flex: 1; } }
    .howworks__box__image {
      height: 5rem;
      fill: #1C293E; }

.us {
  padding: 10rem 0rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .us {
      padding: 5rem 0rem; } }
  .us__header {
    font-size: 4rem;
    margin-bottom: 5px; }
  .us__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 37.5em) {
      .us__content {
        flex-direction: column;
        flex-wrap: nowrap; } }
  .us__box {
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    margin: 20px;
    flex: 0 20%; }
    @media (max-width: 56.25em) {
      .us__box {
        flex: 0 45%; } }
  .us__profile {
    margin-top: 2.2rem;
    position: relative; }
    .us__profile:after {
      width: 100%;
      height: 1px;
      content: ' ';
      display: block;
      margin-top: 1.3rem;
      background: #E9EFF6; }
  .us__thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    border-radius: 100%;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); }
  .us__name {
    color: #2D354A;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; }
  .us__title {
    color: #7C8097;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .7rem;
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  .us__description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3rem; }
  .us__social {
    display: flex;
    margin-top: 1.2rem;
    justify-content: center;
    align-items: center; }
  .us__svg {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    fill: #1C293E; }
