* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


// COLORS
$color-primary-light: #20FFA6;
$color-primary-dark: #20FFA6;

$color-secondary-dark: #1C293E;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}


html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

	@include respond(tab-land) { // width < 1200?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	@include respond(tab-port) { // width < 900?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12, 12/16
	}
}

@font-face{
	font-family:'Literal bold';
	src: url('../fonts/literal-bold.otf') format('opentype');
}
@font-face{
	font-family:'Literal light';
	src: url('../fonts/literal-light.otf') format('opentype');
}
@font-face{
	font-family:'Literal regular';
	src: url('../fonts/literal-regular.otf') format('opentype');
}

body {
	font-family: 'Literal light', sans-serif;
	box-sizing: border-box;
	background-color: $color-white;

	@include respond(tab-port) {
		padding: 0;
	}
}

.heading-primary {
	color: $color-secondary-dark;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
			display: block;
			font-size: 2rem;
			letter-spacing: 1.5rem;
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;

			@include respond(phone) {
				letter-spacing: 1rem;
				font-family: 5rem;
			}
			/*
			animation-delay: 3s;
			animation-iteration-count: 3;
			*/
	}
}

.btn {
	&,
	&:link,
	&:visited {
			text-transform: uppercase;
			text-decoration: none;
			padding: 1.5rem 4rem;
			display: inline-block;
			border-radius: 10rem;
			transition: all .2s;
			position: relative;
			font-size: $default-font-size;

			//Change for the <button> element
			border: none;
			cursor: pointer;
	}

	&:hover {
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba($color-black,.2);

			&::after {
					transform: scaleX(1.4) scaleY(1.6);
					opacity: 0;
			}
	}

	&:active,
	&:focus {
			outline: none;
			transform: translateY(-1px);
			box-shadow: 0 .5rem 1rem rgba($color-black,.2);
	}

	&--white {
			background-color: $color-white;
			color: $color-grey-dark;

			&::after {
					background-color: $color-white;
			}
	}

	&--blue {
			background-color: $color-secondary-dark;
			color: $color-white;

			&::after {
				background-color: $color-secondary-dark;
			}
	}

	&::after {
			content: "";
			display: inline-block;
			height: 100%;
			width: 100%;
			border-radius: 10rem;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all .4s;
	}

	&--animated {
			animation: moveInBottom .5s ease-out .75s;
			animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
			font-size: $default-font-size;
			// color: $color-primary;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px solid $color-secondary-dark;
			padding: 3px;
			transition: all .2s;
	}

	&:hover {
			background-color: $color-secondary-dark;
			color: $color-white;
			box-shadow: 0 1rem 2rem rgba($color-black, .15);
			transform: translateY(-2px);
	}

	&:active {
			box-shadow: 0 .5rem 1rem rgba($color-black, .15);
			transform: translateY(0);
	}
}
