///////////////////banner/////////////////////
.banner {
	min-height: 50vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-grey-light-1, 0.5),
			rgba($color-grey-light-2, 0.5)),
		url(../img/road2.png);
	background-size: cover;
	background-position: top;
	position: relative;

	&__logo {
		height: 5rem;
		margin-bottom: 1rem;
		@media (max-width:$bp-small){
			// height: 4rem;
			display: none;
		}
	}

	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

////////////////////////us/////////////////////
.us {
	padding-top: 5rem;
	background: #f5f5f5;
	text-align: center;
}
///////////////////howworks/////////////////////
.howworks {
	padding-top: 5rem;
	background: #f5f5f5;

	&__header {
		// padding-top: 10rem;
		// padding-bottom: 10rem;
		text-align: center;
	}

	&__title {
		font-family: 'Literal bold';
		font-size: 3rem;
		color:$color-secondary-dark;
		letter-spacing: 2px;
	}

	&__content {
		display: flex;
		justify-content: space-around;
		padding-top: 3rem;

		@media (max-width:$bp-small){
			// position: static;
			flex-direction: column;
		}
	}

	&__box {
		width: 33.3%;
		// margin: 0px 3rem 0px 3rem;
		font-size: 1.4rem;
		// border: 1px solid  red;
		padding: 15px 15px 15px 15px;

		@media (max-width:$bp-small){
			// position: static;
			width: 100%;
		}

		&__header {
			text-align: center;
		}

		&__image {
			height: 4rem;
			fill:$color-secondary-dark;
		}

		&__body {
			text-align: justify;
			padding: 1rem;
		}
	}
}
