///////////////////banner/////////////////////
.banner {
	background-color: $color-grey-light-1;
	min-height: 50vh;
	display: flex;
	flex-wrap: nowrap;
	padding: 4rem 0rem;

	@media screen and (max-width: 1040px) {
		flex-direction: column;
	}

	&__image {
		height: 100%;
		width: 600px;
		@media screen and (max-width: 1040px) {
			width: 100%;
			height: 20%;
		}
	}

	&__text__container {
		position: relative;
		width: 100%;
	}

	&__text-box {
		font-family: 'Literal bold';
		position: absolute;
		width: 70%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		@media screen and (max-width: 1040px) {
			margin-top: 2rem;
			position: relative;
			width: 100%;
			top: 0;
			left: 0;
			transform: none;
			padding: 1.5rem;
		}
	}

	&__slogan {
		color: $color-secondary-dark;
		backface-visibility: hidden;
		margin-bottom: 1rem;
		font-size: 4rem;
	}

	&__elevator_speach {
		margin-top: 30px;
		margin-bottom: 1.8rem;
		display: block;
		font-size: 1.8rem;
		text-align: center;
		animation: moveInRight 1s ease-out;
	}
}

///////////////////howworks/////////////////////
.whyus {
	padding: 10rem 0rem;
	@media (max-width:$bp-medium) {
		padding: 8rem 0rem;
	}

	&__content {
		display: flex;
		justify-content: space-between;

		@media (max-width:$bp-small){
			flex-direction: column;
			flex-wrap: nowrap;
		}

		@media (max-width:$bp-medium) {
			flex-wrap: wrap;
		}
	}

	&__separator {
		margin: 30px 6%;
		border-top: 1px solid;
		border-top-color: #D4D4D4;
	}

	&__features {
		display: table;
		margin: 0px auto 0px auto;
		padding-top: 3rem;

		& li {
			position: relative;
			list-style-type: none;
			padding-left:2.5rem;
			margin-bottom: 0.5rem;
		}

		& li:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			// top: -2px;
			width: 5px;
			height: 11px;
			border-width: 0 2px 2px 0;
			border-style: solid;
			border-color: $color-primary-light;
			transform-origin: bottom left;
			transform: rotate(45deg);
			margin-top: 5px;
		}
	}

	&__box {
		width: 100%;
		// margin: 0px 3rem 0px 3rem;
		font-size: 1.8rem;
		// border: 1px solid  red;
		padding: 1rem;

		@media (max-width:$bp-small){
			width: 100%;
		}

		&__header {
			text-align: center;
		}

		&__image {
			height: 10rem;
			fill:$color-secondary-dark;
		}

		&__body {
			text-align: justify;
			padding: 1rem;
		}
	}
}

///////////////////howworks/////////////////////
.howworks {
	padding: 10rem 0rem;
	text-align: center;

	&__ecomerce__title {
		font-size: 3rem;
		padding-bottom: 2rem;
	}

	&__ecomerce__description {
		font-size: 1.7rem;
		padding-bottom: 2rem;
	}

	&__carrier__title {
		padding-bottom: 2rem;
    padding-top: 6rem;
		font-size: 3rem;
	}

	&__carrier__description {
		font-size: 1.7rem;
		padding-bottom: 2rem;
	}

	@media (max-width:$bp-medium) {
		padding: 8rem 0rem;
	}

	background-color: $color-grey-light-1;
	&__content {
		display: flex;
		justify-content: space-around;
		padding-top: 5rem;

		@media (max-width:$bp-small){
			flex-direction: column;
			flex-wrap: nowrap;
		}

		@media (max-width:$bp-largest){
			flex-wrap: wrap;
		}
	}

	&__box {
		width: 100%;
		font-size: 1.6rem;
		padding: 1rem;
		text-align: center;
		@media (max-width:$bp-largest){
			flex:0 25%;
			padding-top: 4rem;
		}

		@media (max-width:$bp-small){
			flex:1;
		}

		&__image {
			height: 5rem;
			fill:$color-secondary-dark;
		}

		& h5 {
			font-size: 1.8rem;
		}
	}
}


///////////////////US/////////////////////
.us {
	padding: 10rem 0rem;
	@media (max-width:$bp-medium) {
		padding: 8rem 0rem;
	}
	// align-content: ce;
	text-align: center;

	&__header {
		font-size: 4rem;
		margin-bottom: 5px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 4rem;

		@media (max-width:$bp-small){
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}

	&__box {
		background: #FDFEFF;
		transition: background .6s ease;
		border-radius: 10px;
		padding:20px;
		box-shadow: 0 8px 40px rgba(#000000, .2);
		margin: 15px;
		flex:0 20%;

		@media (max-width: $bp-medium) {
			flex:0 45%;
		}

	}

	&__profile {
		margin-top: 2.2rem;
		position: relative;

		&:after {
			width: 100%;
			height: 1px;
			content: ' ';
			display: block;
			margin-top: 1.3rem;
			background: #E9EFF6;
		}
	}

	&__thumbnail {
		width: 124px;
		height: 124px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
		border-radius: 100%;
		box-shadow: $shadow;
	}

	&__name {
		color: #2D354A;
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
	}

	&__title {
		color: #7C8097;
		font-size: 1rem;
		font-weight: 300;
		text-align: center;
		padding-top: .5rem;
		padding-bottom: .7rem;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}

	&__description {
		color: #080911;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 1.3rem;
	}

	&__social {
		display: flex;
		margin-top: 1.2rem;
		justify-content: center;
		align-items: center;
	}

	&__svg {
		width: 30px;
		height: 30px;
		margin: 0 5px;
		fill: $color-secondary-dark;
	}
}


///////////////////US/////////////////////
// https://github.com/sefyudem/Contact-Us-Form
.contactus {
	padding: 5rem 0rem;
	background-color: $color-grey-light-1;
	@media (max-width:$bp-medium) {
		padding: 5rem 0rem;
	}

	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 100px;
		@media (max-width:$bp-medium) {
			padding: 20px;
		}
	}

	&__container:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url("../img/pic3.jpg") no-repeat center;
		background-size: cover;
		filter: blur(50px);
		z-index: -1;
	}

	&__box {
		max-width: 850px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #fff;
		box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

		@media (max-width:$bp-medium) {
			grid-template-columns: 1fr;
		}
	}

	&__btn {
		width: 100%;
		padding: 0.5rem 1rem;
		background-color: $color-primary-light;
		color: #fff;
		font-size: 1.5rem;
		border: none;
		outline: none;
		cursor: pointer;
		transition: .3s;
		color:$color-secondary-dark;
	}

	&__btn:hover{
		background-color: $color-primary-light;
	}

	&__left {
		background: url("../img/pic3.jpg") no-repeat center;
		background-size: cover;
		height: 100%;
		@media (max-width:$bp-medium) {
			//TODO:REPLACE IMAGE
			height: 200px;
		}
	}

	&__right {
		padding: 25px 40px;
	}

	&__title {
		position: relative;
		padding: 0 0 10px;
		margin-bottom: 10px;
		font-size: 2rem;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			height: 4px;
			width: 50px;
			border-radius: 2px;
			background-color: $color-primary-light;
		}
	}
}
