/// NAV
.nav {
	// https://github.com/awulkan/FlexNav
	position: fixed;
	top: 0;
	z-index: 9000;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #ddd;

	@media screen and (max-width: 700px) {
		flex-direction: column;
		text-align: center;
	}

	&__container {
		padding: .5rem;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;

		@media screen and (max-width: 700px) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__header {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 2.5rem;
		margin-left: 1rem;
		@media screen and (max-width: 1040px) {
			margin-left: 1rem;
		}
	}

	&__menu-btn {
		@media screen and (max-width: 700px) {
			padding: 1rem;
			background-color: #f1f1f1;
			cursor: pointer;
		}
		@media screen and (min-width: 701px) {
			display: none;
		}
	}

	&__list {
		display: flex;
		max-width: 700px;
		list-style-type: none;

		&-item {
			display: flex;
		}

		@media screen and (max-width: 700px) {
			display: block;
			flex-direction: column;
			overflow: auto;
			direction: rtl;
			transition: all 600ms;
			max-height: 80vh;
		}
	}

	&__list--hide {
		@media screen and (max-width: 700px) {
			max-height: 0;
		}
	}

	&__link {
		flex: 1;
		color: #444;
		text-decoration: none;
		font-weight: 600;
		font-size: 1.2rem;
		transition: 200ms;

		@media screen and (min-width: 701px) {
			flex-basis: auto;
			padding: 1rem 1.5rem;
		}

		@media screen and (max-width: 700px) {
			padding: 1rem 0;
			font-size: 1.3rem;
			border-bottom: 1px solid $color-grey-light-1;
		}

		&:hover {
			background-color: $color-primary-light;
		}

	}

	&__menu-btn__icon {
		width: 2rem;
		height: 2rem;
		margin-top: 1rem;
		// fill: currentColor;
	}
}

/// MAIN
.blue-bg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #0082ca;
	color: #fff;
	margin-top: 3.2rem;
	font-size: 2rem;
	height: 18rem;
}

/// FOOTER
.footer {
	background-color: $color-secondary-dark;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-size: 1.2rem;
	padding: 5rem;
	margin-top: 80px;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	color:$color-white;

	@media (max-width:$bp-small){
		position: static;
		flex-direction: column;
	}

	&__logo{
		height: 3rem;
	}

	&__social {
		fill: $color-white;
		height: 2.5rem;
		width: 2.5rem;
	}

	&__container {
		@media (max-width:$bp-small){
			&--logo {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
			}
		}
	}

	&__icons{
		margin-top: 1rem;
		text-align: center;
	}

	&__copy {
		margin-top: 1rem;
		text-align: center;
	}
}
